/*Raleway font import*/
	@font-face {
	    font-family: 'Raleway';
	    src: url('Raleway/static/Raleway-Regular.ttf');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Raleway-ExtraBold';
	    src: url('Raleway/static/Raleway-ExtraBold.ttf');
	    font-weight: normal;
	    font-style: normal;
	}

/*mobile part styling media querries need to added*/
	/*General styling*/
		#main_wrapper{
			width: 100%;
		}
		/*for better experience when using inter link*/
		html{
			scroll-behavior: smooth;
		}
		body{
			font-family: 'Raleway', sans-serif, Verdana;
		}
		h1, h2{
			font-family: 'Raleway-ExtraBold',sans-serif, Verdana;
			font-size: 1.25rem;
		}
		h3, .filter_list_title{
			font-family: 'Raleway-ExtraBold', sans-serif, Verdana;
			font-size: 0.95rem;
		}
		h1, h2, h3, h4, p, ul, body{
			margin: 0;
		}
		ul{
			list-style: none;
			padding: 0;			
		}
		a{
			text-decoration: none;
			color: black;
		}
		.hover_underlined:hover{
			text-decoration: underline;
		}
	/*header styling*/
		/*using flexbox for placing the blocks*/
		header{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
		nav{
			width: 100%;
		}
		/*layout of the navigation bar*/
			nav ul{
				display: flex;
			}
			nav li{
				flex: 1;
				display: flex;
				text-align: center;
			}
			nav	a{
				flex: 1;
				color: #000000;
				font-size: 0.9rem;
				border-bottom: 0.7vw solid #F2F2F2;
				padding-bottom: 5%;
			}
			nav a:hover{
				color: #0065FC;
				border-bottom: 0.7vw solid #0065FC;
				transition-timing-function: ease-in;
				transition-duration: 0.2s;
			}
			.logo_container{
				margin: 5%;
				width: 25%;
			}
			.logo_reservia{
				width: 100%;
			}
			#signin{
				font-family: 'Raleway-ExtraBold',sans-serif, Verdana ;
				color: #0065FC;
				font-size: 0.9rem;
				margin: 0 5%;
			}
	/*finder styling*/
		.filter_list_title{
			margin-bottom: 3%;
		}
		#info{
			margin-top: 1.5rem;
			display: flex;
			align-items: start;
		}
		#info p:first-child{
			color: #0065FC;
			border: 1px solid #F2F2F2;
			height: 18px;
			width: 18px;
			min-width: 18px;
			border-radius: 18px;
			text-align: center;
			padding: 3px;
			margin-right: 10px;
			}
		/*research toolbar styling*/
			#research_container{
				display: flex;
				border: 1px solid #F2F2F2;
				width: 90%;
				display: flex;
				padding: 0;
				margin: 7% 0;
				overflow: hidden;
			}
			#research,.research_button, #research_label{
				font-family: 'Raleway-ExtraBold', sans-serif, Verdana;
			}
			.research_button, #research_container{
				border-radius: 0.8rem;
			}
			#research_label{
				background: #F2F2F2;
				border-top-left-radius: 0.8rem;
				border-bottom-left-radius: 0.8rem;
			}
			#research_label, .research_button{
				margin: 0;
				padding: 0.8em 1em;
				font-size: 0.9rem;
			}
			.research_button{
				border: 0;
				background: #0065FC;
				color: white;
			}
			#research_button_text{
				display: none;
			}
			#research{
				min-width: 100px ;
				flex: 1;
				padding-left: 1rem;
				border: none;
				font-size: 0.9rem;
			}
		/*filters styling*/
			.row_filters_container{
				display: flex;
				flex-wrap: wrap;
			}
			.filter{
				background: white;
				font-family: 'Raleway-ExtraBold', sans-serif, Verdana;
				display: flex;
				align-items: center;
				cursor: pointer;
				border-radius: 30px;
				border: 2px solid #F2F2F2;
				padding: 0;
				height: 42px;
				margin-bottom: 0.5rem;
				margin-right: 0.5rem;
			}
			.filter .button_svg{
				display: flex;
				align-items: center;
				justify-content: center;
				background: #DEEBFF;
				border-radius: 30px;
				color: #0065FC;
				float: left;
				width: 42px;
				height: 42px;
				font-size: 120%;
				position: relative;
				right: 2px;
			}
			.filter_label{
				margin: 0 0.8em;
			}
			.filter:hover{
				background: #0065FC;
				border: 2px solid white;
				color: white;
				transition-timing-function: ease-in;
				transition-duration: 0.2s;
			}
	/*cards styling*/
		.cards_container{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 5%;
		}
		.card{
			background: white;	
			width: 95%;
			margin-bottom: 4vw;
			padding: 0;
			border-radius: 20px;
			box-shadow: 0vw 0vw 1.5vw rgba(0, 0, 0, 0.4);
			overflow: hidden;
		}
		.card:hover{
			transform: scale(1.02);
			transition-timing-function: ease-in;
			transition-duration: 0.1s;

		}
		.card_border{
			border: 5px white solid;	
		}	
		.text_container{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 5% 5% 2% 5%;
		}
		.star_container{
			display: inline-flex;
			font-size: 80%;
		}
		.blue_star{
			color: #0065FC;
			margin-right: 1px;
		}
		.grey_star{
			color: #D9D9D9;
			margin-right: 1px;
		}
	/*accomodation styling*/
		#popular_accomodation, #finded_accomodation, #activities_section, footer, #finder{
				margin-top: 5%;
				padding: 4vw;
			}
		.section_title{
				margin: 4vw 0vw;
		}
		/*popular_accomodation styling*/
			#popular_accomodation{
				background: #F2F2F2;
			}
			.ilustrated_section_title{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.ilustrated_section_title p{
				font-size: 1.25rem;	
			}
		/*popular_accomodation cards styling*/
			.horizontal_card{
				display: flex;
			}
			.horizontal_card .text_container{
				width: 60%;
				text-align: left;
			}
			#popular_accomodation .pic_container{
				width: 40%;
				margin: 0;
			}

			#popular_accomodation .price{
				margin-top: 5%;
				margin-bottom: 20%;
			}
			.pc1{
				background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat;
				background-position: center;
			}
			.pc2{
				background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat;
				background-position: center;
			}			
			.pc3{
				background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat;
				background-position: center;
			}			
		/*finded_accomodation styling*/
			#show_more{
				font-size: 0.9rem;
				font-weight: bold;
			}
			#finded_accomodation .price{
				margin: 2% 0%;
			}
		/*finded_accomodation cards styling*/
			.vertical_card{
				display: flex;
				flex-direction: column;
			}
			#finded_accomodation .pic_container{
				max-height: 30vw;
				overflow: hidden;
			}
			#finded_accomodation .pic_container img{
				object-fit: cover;
				width: 100%;
				position: relative;
			}
			.pc4 img, .pc5 img,.pc6 img,.pc8 img {
				bottom: 50px;
			}
			.pc7 img{
				bottom: 72px;
			}
			.pc9 img{
				bottom: 180px;
			}
	/*activities styling*/
		#activities_section .pic_container{
			height: 35vw;
		}
		#activities_section h3{
			margin: 5%;
		}
		.pc10{
			background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat;
			background-position: 50% 20%;
		}		
		.pc11{
			background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
			background-position: 50% 45%;
		}		
		.pc12{
			background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat;
			background-position: 50% 20%;
		}		
		.pc13{
			background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat;
			background-position: 50% 10%;
		}		
		.pc14{
			background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat;
			background-position: 50% 20%;
		}
		.pc15{
			background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
			background-position: 50% 20%;
		}
		.pic_container{
			background-size: cover ;
		}
	/*footer styling*/
		footer{
			background: #F2F2F2;
		}
		footer div{
			padding: 4% 0%;
		}
		footer p{
			margin-bottom: 4%;
		}
		footer li{
			margin: 2% 0%;
		}
/*mediaquerries for tablets that are also valid for PC*/
@media screen and (min-width: 650px){
	/*général styling*/
		#main_wrapper{
			width: 95%;
			max-width: 1024px;
			margin: auto;
		}
		#activities_section{
			padding: 0;
		}
	/*header styling*/
		#signin{
			order: 3;
		}
		nav{
			width: 20%;
			min-width: 250px;
		}
		nav	a{
			padding: 20% 5% 20% 5%;
			border-bottom: none;
			border-top: 0.2vw solid #FFF;
		}
		nav a:hover{
			color: #0065FC;
			border-top: 0.2vw solid #0065FC;
			border-bottom: none;
		}
		.logo_container{
			margin: 0;
			flex: 1;
		}
	/*finder styling*/
		#finder{
			padding: 0;
		}
		#finder h1{
			margin-bottom: 10px;
		}
		#research_container{
			margin: 0.6rem 0 1.2rem 0;
		}
		#research_button_logo{
			display: none;
		}
		#research_button_text{
			display: block;
		}
		.research_button{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.filters_container{
			display: flex;
			flex-direction: row;
		}
		#info{
			align-items: center;
		}
	/*popular_accomodation styling*/
		#popular_accomodation, #finded_accomodation{
				background: #F2F2F2;
				border-radius: 20px;
		}
	/*finded_accomodation styling*/
		/*This cards container become a raw flex*/
		#finded_accomodation .cards_container{
			flex-flow: row wrap;
			justify-content: space-between;	
		}
	/*activities_section styling*/
		#activities_section .cards_container{
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			align-content: space-between;
			align-items: center;
		}
	/*footer styling*/
		footer{
			display: flex;
			justify-content: space-between;
			padding: 1.5rem 7.5rem 1.5rem 1.5rem;
		}
		footer div{
			padding: 0;
		}
}
/*mediaquerries only for tablets*/
@media screen and (min-width: 650px) and (max-width: 1023px){
	/*general styling*/
		#popular_accomodation, #finded_accomodation{
			padding: 3vw;
		}
	/*header styling*/
		.logo_reservia{
			width: 25%;
		}
	/*fider edit*/
		#research_container{
			max-width: 60%;
		}
	/*accomodation styling*/
		.section_title{
			margin: 1vw 0 2vw 0;
		}
	/*finded_accomodation styling*/
		#finded_accomodation .card{
			width: 45%;
			height: 27vw;
		}
	/*activities_section styling*/
		#activities_section .cards_container{
			height: 140vw;
		}
		#activities_section .card{
			width: 47%;
		}
}
/*mediaquerries only for desktop*/
@media screen and (min-width: 1024px){
	/*general styling*/
		.price, #info > p, #finder > p {
			font-size: 0.8rem;
		}
		h1, h2{
			font-size: 0.9rem;
		}
		h3{
			font-size: 0.8rem;
		}
		#accomodation_section, #finder, #activities_section{
			margin-top: 15px;
		}
		.cards_container{
			margin-top: 0;
		}
	/*header styling*/
		.logo_reservia{
			width: 15%;
		}
	/*finder styling*/
		.filter_list_title{
			margin-bottom: 0;
			font-size: 0.9rem;
		}
		#research_container{
			max-width: 30%;	
		}
		.research_label, .research_button, #research{
			font-size: 0.7rem;
		}
		#research_label{
			padding: 0.5em 0.9em;
		}
		.research_button{
			padding: 0.5em 1em;
		}
		#filter_list{
			display: flex;
			align-items: center;
		}
		.filter{
			margin: 0 0 0 15px;
		}
	/*accomodation styling*/
		#popular_accomodation, #finded_accomodation{
			padding: 0.75rem 1.5rem 0 1.5rem;
		}
		.section_title{
			margin: 0.8rem 0;
		}
		/*changing order of finded_accomodation and popular accomodation*/
		#accomodation_section{
			display: flex;
			justify-content: space-between;
		}
		.card_border{
			border: 3px white solid;
			margin-bottom: 1.4rem;	
		}	
		#popular_accomodation{
			order: 2;
			width: 26%;
		}
		#popular_accomodation, #finded_accomodation{
			background: #F2F2F2;
			border-radius: 20px;
			margin-top: 0;
		}
		.ilustrated_section_title p{
				font-size: 1rem;	
			}
		#finded_accomodation{
			order: 1;
			width: 62%;
		}
		#finded_accomodation .card{
			width: 31%;
		}
		#finded_accomodation .pic_container{
			max-height: 5.5rem;
		}
		.pc4 img, .pc5 img,.pc6 img {
			bottom: 15px;
		}	
		.pc7 img{
			bottom: 20px;
		}
		.pc8 img{
			bottom: 0px;
		}
		.pc9 img{
			bottom: 65px;
		}
	/*activities_section styling*/
		#activities_section{
			padding: 0.8rem 0;
		}
		#activities_section .cards_container{
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			align-content: space-between;
			align-items: center;
			height: 21rem;
		}
		#activities_section .card{
			width: 23%;
			margin: 0;
		}
		/*sizing of activity section's card */
		#activities_section .card:nth-child(3n+1){
			height: 100%;
		}
		#activities_section .card:nth-child(4n+2){
			height: 54%;
		}		
		#activities_section .card:nth-child(2n+3){
			height: 38%;
		}
	/*footer styling*/
		footer{
			font-size: 0.8rem;
			margin-top: 2.2rem;
		}
		footer li{
			margin: 5% 0%;
		}
}