@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

#main_wrapper{
	width: 100%;
}
body{
	font-family: 'Raleway',sans-serif,Verdana;
}

header, footer, #popular_accomodation{
	background: #F2F2F2;
}
#finder{
	background: skyblue;
}
#filter, #research, #filter_list{
	border: 1px white solid;
}

#finded_accomodation, #popular_accomodation, #activities_section{
	border: 5px black solid;
}
.accomodation_cards, .activities_cards{
	background: lightyellow;	
	min-height: 20rem;
	margin: 2rem;
}